## Importing libraries

In [1]:
import os
import pandas as pd
from bs4 import BeautifulSoup
import requests
import json

## Creating CSV to store Data Frame

In [2]:
#creating a csv file to store the dataframe
csv_file = './data/movies/rt.csv'

## Parsing HTML
* using html.parser function of BeautifulSoup

In [3]:
#url of page to be scrapped
URL = 'https://www.rottentomatoes.com/top/bestofrt/'
page = requests.get(URL)

soup = BeautifulSoup(page.content, 'html.parser')

## BeautifulSoup HTML Scrapping
* filter to table tag of movies' information
* saving the table content under data_frame

In [ ]:
data = {}

table = soup.find('table', {'class':'table'})
rows = table.findAll('td')
print(table)
data_frame = pd.read_html(str(table))[0]

## Saving Data Frame as .csv file
* Acquired ranking of Movies

In [5]:
data_frame.to_csv('mydata.csv', index=False)

In [6]:
data_frame

     Rank RatingTomatometer                           Title  No. of Reviews
0     1.0               96%            Black Panther (2018)             519
1     2.0               99%             Citizen Kane (1941)             115
2     3.0               98%  Parasite (Gisaengchung) (2019)             458
3     4.0               94%        Avengers: Endgame (2019)             538
4     5.0               99%               Casablanca (1942)             121
..    ...               ...                             ...             ...
95   96.0               90%                  Shazam! (2019)             409
96   97.0               98%                     Jaws (1975)              90
97   98.0               98%   The Godfather, Part II (1974)              85
98   99.0               94%          The Dark Knight (2008)             344
99  100.0              100%                Pinocchio (1940)              56

[100 rows x 4 columns]

In [11]:
data_frame.to_csv(csv_file, index = False)